#kontener
{
    
    display:grid;
    
}
#dziecko
{
    height:150px;
    width:150px;
    background-color: aquamarine;
    grid-column-start: 1;
    justify-self: end;
  
    
    
    
}
#d2{
    
    height: 150px;
    width: 150px;
    background-color:red;
    grid-column-start: 2;
     
}
